#Ignore everything 
*

#But not these files...

!.gitignore

!src
!src/
!src/**

!libs
!libs/
!libs/**

!Maps
!Maps/
!Maps/**

!*.txt
!*.md
!.ppm
!.class
!Class Files
!Class Files/
!PPM images
!PPM images/
!.jar

